# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# WPE Specific Version
wpe-version/

# Compressed files
*.zip
*.gz
*.tar
*.bz2

# Virtual environments
venv/
env/
ENV/
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db

# Input files and any folders
*.json
/*

# Output files
redacted_*.json
*.csv

# Logs
*.log
